.projectCard {
    display: block;
    border: 1px solid var(--slds-g-color-border-base-40);
    border-radius: var(--slds-g-radius-border-2);
    padding: var(--slds-g-spacing-medium);
    color: inherit;
    text-decoration: none;
    background-color: var(--slds-g-color-neutral-base-100-alpha);
    backdrop-filter: blur(12px);
    transition: all 0.4s var(--ease-apple);
}

.projectCardLink:hover {
    box-shadow: var(--slds-g-shadow-depth-1);
    border-color: var(--slds-g-color-brand-base-50);
    transform: translateY(-1px);
    text-decoration: none;
}
