.tabsContainer {
    width: 100%;
}

.tabNav {
    display: flex;
    list-style: none;
    border-bottom: 1px solid var(--slds-g-color-border-base-40);
    margin: 0;
    padding: 0;
}

.tabItem {
    margin-bottom: -1px; /* Overlap the border */
}

.tabButton {
    padding: var(--slds-g-spacing-medium) var(--slds-g-spacing-large);
    font-size: 1rem;
    color: var(--slds-g-color-neutral-base-10);
    border: none;
    background: transparent;
    border-bottom: 2px solid transparent;
    font-weight: 400;
}

.tabButton:hover {
    color: var(--slds-g-color-brand-base-60);
}

.tabItem.active .tabButton {
    border-bottom-color: var(--slds-g-color-brand-base-50);
    font-weight: 700;
    color: var(--slds-g-color-neutral-base-10);
}

.tabContent {
    padding: var(--slds-g-spacing-medium) 0;
}

.tabPanel {
    display: none;
}

.activePanel {
    display: block;
}
